.blog{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.firstPage{
    width: 100%;
    height: 100%;
    position: relative;
    -webkit-transition: margin-top .7s;
    -moz-transition: margin-top .7s;
    -ms-transition: margin-top .7s;
    -o-transition: margin-top .7s;
    transition: margin-top .7s;
}
.fp{
    position: absolute;
    left: 0;
    right:0;
    margin: auto;
    text-align: center;
}
.fp_name{
    top:350px;
    font-size: 72px;
}
.fp_intro{
    font-size: 30px;
    top:470px;
}


/*secondPage*/
.secondPage{
    width: 100%;
    height: 100%;
    position: relative;
}
.sp{
    position: absolute;

}
.sp_menu{
    left: 0;
    top:0;
    height: 100%;
    width: 20%;
    min-width: 150px;
    padding-top: 40px;
    background-color: black;
    display: block;
}
.sp_menu>li{
    list-style: none;
    width: 150px;
    height: 40px;
    margin: 0 auto 20px;
    color: white;
    text-align: center;
    line-height: 40px;
}
.sp_menu>li:not(:nth-child(1)):hover{
     background-color: white;
     color: black;
    cursor: pointer;
 }
.sp_menu>.active{
    background-color: white;
    color: black;
}
.sp_menu>li>*{
    float: left;
}
.sp_main_page{
    background-image: url("../img/02.09/home_page.png");
}
.sp_front_end{
    background-image: url("../img/02.09/front_end.png");
}
.sp_javascript{
    background-image: url("../img/02.09/javascript_page.png");
}
.sp_node_js{
    background-image: url("../img/02.09/nodejs_page.png");
}
.sp_vue_js{
    background-image: url("../img/02.09/vuejs.png");
}

.sp_menu>li:nth-child(1){
    height: 150px;
}
.my_pic{
    background-image: url("../img/02.09/user_pic.jpg");
    background-position:center 110px;
    background-size: 100%;
    border-radius: 110px;
    width: 110px;
    height: 110px;
    margin: 0 auto;
}




.sp_list{
    height: 1500px;
    width: 80%;
    /*background-color: pink;*/
    right: 0;
    top:0;
}
.article_list{
    width: 600px;
    height: auto;
    background-color: white;
    margin: 40px auto 0;
}
.article_list>li{
    list-style: none;
    width: 600px;
    height: 200px;
    cursor: pointer;
    -moz-box-shadow: 0 0 5px #666;
    -webkit-box-shadow: 0 0 5px #666;
    box-shadow: 0 0 5px #666;
    margin-bottom: 25px;
}
.article_list>li:hover{
    -webkit-transition: transform .7s;
    -moz-transition: transform .7s;
    -ms-transition: transform .7s;
    -o-transition: transform .7s;
    transition: transform .7s;
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    -o-transform: translateY(-10px);
    transform: translateY(-10px);
}
.article_pic{
    float: left;
    max-height: 200px;
    max-width: 150px;
}
.article_body{
    float: right;
    width: 450px;
}
.article_body>h4{
    line-height: 60px;
}
.article_body>p{
    overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    width: 95%;
    text-indent: 2em;
}




