*{
    margin: 0;
    padding: 0;
    /*font-family:'PingFangSC1153b54d0f1bf59';*/
}
html,body{
    width: 100%;
    height: auto;
    background-color: #f9f9f9;
    min-width: 1200px;
}
img,span,a,input,textarea{
    display: block;
    border: none;
}
a{
    text-decoration: none;
    color: inherit;
}
input,textarea,select,option{
    outline:none;
    resize: none;
    border:none;
}
i{
    display: block;
}
div>span div>i{
    float: left;
}
.Scale{
    -webkit-transition: transform .7s;
    -moz-transition: transform .7s;
    -ms-transition: transform .7s;
    -o-transition: transform .7s;
    transition: transform .7s;
}
.Scale:hover{
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

/*正文*/
.Need{
    width: 100%;
    height: auto;
    overflow: hidden;
}
/*顶部图片*/
.topBar{
    width: 1200px;
    margin: 0 auto;
}
/*头部导航*/
.header{
    width: 100%;
    height: 140px;
    -o-box-shadow: 0.5px 0.866px 35px 0 rgba(0, 0, 0, 0.21);
    -moz-box-shadow: 0.5px 0.866px 35px 0 rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0.5px 0.866px 35px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0.5px 0.866px 35px 0 rgba(0, 0, 0, 0.21);
    background-color: #fff;
}
.headerBox{
    width: 1200px;
    height: 143px;
    margin: 0 auto;
    overflow: hidden;
}
.headerTop{
    height: 60px;
    margin: 20px auto 20px;
}
.headerLogo,.headerSlogan{
    float: left;
}
.headerLogo{
    height: 60px;
}
.headerSlogan{
    height: 30px;
    margin: 20px 0 10px 20px;
}

/*搜索框部分*/
.headerRight{
    width: 775px;
    height: 40px;
    float: right;
}
.headerRight>*{
    float: left;
}
.searchBox{
    width: 515px;
    height: 36px;
    border:2px solid #fedb3e;
    border-right: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-image: -webkit-linear-gradient( 0, rgb(247,151,0) 0%, rgb(251,188,34) 30%, rgb(255,225,67) 92%) 10 30;
    border-image: -ms-linear-gradient( 0, rgb(247,151,0) 0%, rgb(251,188,34) 30%, rgb(255,225,67) 92%) 10 30;
    border-image: -moz-linear-gradient( 0, rgb(247,151,0) 0%, rgb(251,188,34) 30%, rgb(255,225,67) 92%) 10 30;
    border-image: linear-gradient( 0, rgb(247,151,0) 0%, rgb(251,188,34) 30%, rgb(255,225,67) 92%) 10 30;
}
#searchInput,.selectionPart{
    float: left;
}
#searchInput{
    width: 435px;
    height: 100%;
    text-indent: 1em;
}
.selectionPart{
    width: 80px;
    height: 36px;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.Arrow{
    position: absolute;
    background: url('../img/sprite_need.png') no-repeat -20px -20px;
    width: 12px;
    height: 6px;
    right: 5px;
    top:15px;
    z-index: 1111;
    -webkit-transition: transform .7s;
    -moz-transition: transform .7s;
    -ms-transition: transform .7s;
    -o-transition: transform .7s;
    transition: transform .7s;
}
.selectionPart:hover{
    overflow: visible;
}
.selectionPart:hover .optionPart{
    z-index: 111;
}
.selectionPart:hover .Arrow{
    -webkit-transform: rotateZ(180deg);
    -moz-transform: rotateZ(180deg);
    -ms-transform: rotateZ(180deg);
    -o-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}
.optionPart{
    width: 80px;
    height: 40px;
    line-height: 36px;
    cursor: pointer;
    text-align: left;
    text-indent: 0.5em;
    position: absolute;
    right: 0;
    top:0;
    background-color: #efefef;
}
.unSelected{
    top:40px;
    background-color: #fff;
    line-height: 40px;
    -moz-box-shadow: 0.5px 0.866px 13px 0 rgba(0, 0, 0, 0.21);
    -webkit-box-shadow: 0.5px 0.866px 13px 0 rgba(0, 0, 0, 0.21);
    box-shadow: 0.5px 0.866px 13px 0 rgba(0, 0, 0, 0.21);
}
#searchInput::placeholder,#searchInput::-webkit-input-placeholder{
    font-size: 14px;
    color: rgb(136, 136, 136);
}
#searchButton{
    width: 90px;
    height: 40px;
    cursor: pointer;
    background-image: -moz-linear-gradient( 95deg, rgb(247,151,0) 0%, rgb(251,188,34) 48%, rgb(255,225,67) 99%);
    background-image: -webkit-linear-gradient( 95deg, rgb(247,151,0) 0%, rgb(251,188,34) 48%, rgb(255,225,67) 99%);
    background-image: -ms-linear-gradient( 95deg, rgb(247,151,0) 0%, rgb(251,188,34) 48%, rgb(255,225,67) 99%);
    -moz-box-shadow: 0 3px 8px 0 rgba(231, 140, 7, 0.4);
    -webkit-box-shadow: 0 3px 8px 0 rgba(231, 140, 7, 0.4);
    box-shadow: 0 3px 8px 0 rgba(231, 140, 7, 0.4);
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 2px rgba(213, 137, 2, 0.004);
}
.or{
    width: 50px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    color: rgb(68, 68, 68);
}
#needButton{
    width: 113px;
    height: 40px;
    cursor: pointer;
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-shadow: 0 1px 2px rgba(213, 137, 2, 0.004);
    background-image: -moz-linear-gradient( 95deg, rgb(247,151,0) 0%, rgb(251,188,34) 48%, rgb(255,225,67) 99%);
    background-image: -webkit-linear-gradient( 95deg, rgb(247,151,0) 0%, rgb(251,188,34) 48%, rgb(255,225,67) 99%);
    background-image: -ms-linear-gradient( 95deg, rgb(247,151,0) 0%, rgb(251,188,34) 48%, rgb(255,225,67) 99%);
}
.headerBottom{
    height: 40px;
    position: relative;
}
.allService,.headerNav{
    float: left;
}
.allService{
    width: 230px;
    height: 40px;
    background-image: -moz-linear-gradient( 95deg, rgb(76,76,76) 0%, rgb(101,101,101) 48%, rgb(126,126,126) 99%);
    background-image: -webkit-linear-gradient( 95deg, rgb(76,76,76) 0%, rgb(101,101,101) 48%, rgb(126,126,126) 99%);
    background-image: -ms-linear-gradient( 95deg, rgb(76,76,76) 0%, rgb(101,101,101) 48%, rgb(126,126,126) 99%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    line-height: 40px;
    font-weight: 600;
    margin-right: 40px;
}
.headerNav{
    width: 545px;
}
.headerNav>li{
    float: left;
    list-style: none;
    margin-right: 30px;
    line-height: 37px;
    color: rgb(68, 68, 68);
    font-size: 16px;
}
.headerNav>li:last-child{
    margin-right: 0;
}
.headerNav>li:not(:nth-child(5)):hover{
    color: rgb(243, 149, 25);
    font-weight: 600;
}
.headerNav>.clicked{
    font-size: 16px;
    color: rgb(243, 149, 25);
    font-weight: 600;
    border-bottom: 3px solid rgb(243, 149, 25);
    border-image: -moz-linear-gradient( 0, rgb(247,151,0) 0%, rgb(251,188,34) 30%, rgb(255,225,67) 92%) 10 30;
    border-image: -o-linear-gradient( 0, rgb(247,151,0) 0%, rgb(251,188,34) 30%, rgb(255,225,67) 92%) 10 30;
    border-image: -webkit-linear-gradient( 0, rgb(247,151,0) 0%, rgb(251,188,34) 30%, rgb(255,225,67) 92%) 10 30;
    border-image: linear-gradient( 0, rgb(247,151,0) 0%, rgb(251,188,34) 30%, rgb(255,225,67) 92%) 10 10;
}

/*滑动块*/
.NavSlip{
    position: absolute;
    background-image: -moz-linear-gradient( 95deg, rgb(247,151,0) 0%, rgb(251,188,34) 48%, rgb(255,225,67) 99%);
    background-image: -webkit-linear-gradient( 95deg, rgb(247,151,0) 0%, rgb(251,188,34) 48%, rgb(255,225,67) 99%);
    background-image: -ms-linear-gradient( 95deg, rgb(247,151,0) 0%, rgb(251,188,34) 48%, rgb(255,225,67) 99%);
    height: 3px;
    border-radius: 5px;
    bottom: 0;
    width: 0;
    font-size: 16px;
    -moz-transition: all 0.75s;
    -o-transition: all 0.75s;
    -ms-transition: all 0.75s;
    transition: all 0.75s;
}



/*登录注册*/
.signPart{
    float: right;
}
.signPart>span{
    float: right;
    font-size: 14px;
    height: 40px;
    line-height: 40px;
    cursor: pointer;
    padding: 0 5px;
    color: rgb(136, 136, 136);
}
.signPart>span:hover{
    color: rgb(243, 149, 25);
}
.beforeSign{
    display: none;
}
.signUserName{
    width: 6em;
}

/*主要内容部分*/
.content{
    width: 1200px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.menuPart{
    height: 60px;
    margin-left: 8px;
}
.menuPart>*{
    float: left;
    line-height: 24px;
    font-size: 12px;
    color: rgb(136, 136, 136);
    /*width: 114px;*/
    padding: 0 5px;
    height: 24px;
    margin: 18px auto;
    border-radius: 4px;
    text-align: center;
}
.allKinds>*{
    display: block;
    float: left;
}

.arrowBar{
    background: url('../img/sprite_need.png') no-repeat -20px -46px;
    width: 5px;
    height: 10px;
    margin: 7px 10px 25px 5px;

}
.menuTag{
    margin-right: 20px;
    border: 1px solid #d2d2d2;
    -webkit-transition: opacity .7s;
    -moz-transition: opacity .7s;
    -ms-transition: opacity .7s;
    -o-transition: opacity .7s;
    transition: opacity .7s;
    opacity: 0;
}
.menuTag>span{
    margin-left: 5px;
}
.menuTag:hover{
    color: #f04b46;
    border: 1px solid #f34b47;
}
.menuTag:hover .closeBar{
    background-position: -57px -76px;
}
.menuTag>*{
    float: left;
}
.closeBar{
    background: url('../img/sprite_need.png') no-repeat -20px -76px;
    width: 7px;
    height: 9px;
    margin: 8px 10px 24px 5px;
    cursor: pointer;
}


/*商品列表部分*/
.menuList{
    width: 1200px;
    /*height: 163px;*/
    -moz-box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.06);
    background-color: #fff;

}
.menuContent{
    height: 40px;
    width: 1177px;
    margin-left: 13px;
    line-height: 40px;
    overflow: hidden;
    -webkit-transition: height .7s;
    -moz-transition: height .7s;
    -ms-transition: height .7s;
    -o-transition: height .7s;
    transition: height .7s;
}

.menuContent:not(:nth-child(4)){
    border-bottom: 1px dashed rgb(239, 239, 239);
}
.menuContent:nth-of-type(2),.menuContent:nth-of-type(3){
    height: 0;
    border-bottom: 0;
}
.menuContent:last-child{
    overflow: visible;
}
.menuTitle,.menuDetail,.menuSelection{
    float: left;
}
.menuDetail{
    max-width: 1111px;
}
.menuTitle{
    font-size: 12px;
    color: rgb(136, 136, 136);
    margin-right: 5px;
}
.menuDetail>li{
    float: left;
    list-style: none;
    font-size: 12px;
    color: rgb(68, 68, 68);
    margin-right: 30px;
    cursor: pointer;
}
.menuDetail>.active{
    color: rgb(243, 149, 25);
}
.menuExtra{
    background-color: rgb(76,76,76);
    background-image: url('../img/sprite_need.png');
    background-repeat: no-repeat;
    background-position:   -15px -98px;
    width: 20px;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 111;
}


.menuSelection{
    width: 118px;
    height: 20px;
    border: 1px solid rgb(221, 221, 221);
    margin: 10px 5px;
    line-height: 20px;
    font-size: 12px;
    color: rgb(136, 136, 136);
    position: relative;
}
.menuSelected{
    text-indent:0.75em;
    width: 98px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.menuChoice{
    position: absolute;
    left: 0;
    top:25px;
    border:1px solid transparent;
    border-radius: 5px;
    z-index: 11111;
    overflow: hidden;
    height: 0;
    -webkit-transition: all .7s;
    -moz-transition: all .7s;
    -ms-transition: all .7s;
    -o-transition: all .7s;
    transition: all .7s;
    background-color: #fff;
    -moz-box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.06);
}
.menuOption{
    height: 25px;
    line-height: 25px;
    padding: 0 15px;
    background-color: #fff;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
}

/*需求主体部分*/
.needContent{
    width: 1200px;
    margin: 20px auto 0;
    background-color: rgb(255, 255, 255);
    -moz-box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.06);
    -o-box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.06);
    -webkit-box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.06);
    box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.06);
}
.needList{
    width: 1177px;
    height: 129px;
    padding: 0 10px 0 13px;
    border-bottom: 1px solid rgb(239, 239, 239);
}
.needList>*{
    float: left;
}

/*标题的两种情况，字数超过1行时*/
.needTitle{
    width: 200px;
    font-size: 24px;
}
.needTitle_1{
    line-height: 129px;
    margin-right: 60px;
}
.needTitle_2{
    overflow : hidden;
    text-overflow: ellipsis;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    line-height: 36px;
    display: -moz-box;
    -moz-line-clamp: 2!important;
    -moz-box-orient: vertical;
    margin: 32px 68px 30px 0;
}
.needTitle_2:after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    content: "...";
    padding: 0 5px 1px 30px;
    position: absolute;
    right: 0;
}
/*描述的两种情况，字数超过1行时*/
.needDesc{
    margin-right: 56px;
    width: 530px;
    font-size: 14px;
    color: rgb(136, 136, 136);
}
.needDesc_1{
    line-height: 129px;
}
.needDesc_2{
    margin: 32px 56px 30px 0;
    line-height: 21px;
    position: relative;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    display: -moz-box;
    -moz-line-clamp: 3!important;
    -moz-box-orient: vertical;
    overflow : hidden;
    text-overflow: ellipsis;
}
.needDesc_2:after {
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 50%) repeat scroll 0 0 rgba(0, 0, 0, 0);
    bottom: 0;
    content: "...";
    padding: 0 5px 1px 30px;
    position: absolute;
    right: 0;
}

/*定位*/
.needLocation{
    height: 20px;
    margin: 55px 0 55px;
}
.needLocation>*{
    float: left;
}
.needLocation>i{
    background: url('../img/sprite_need.png') no-repeat -20px -130px;
    width: 14px;
    height: 20px;
    margin-right: 5px;
}
.needLocation>span{
    font-size: 14px;color: rgb(136, 136, 136);
    line-height: 20px;
}
.needPrice{
    float: right;
}
.needPriceNum{
    font-size: 18px;
    color: rgb(243, 75, 71);
    line-height: 23px;
    margin-top: 25px;
}
.needPriceSub{
    font-size: 18px;
    color: #fff;
    text-shadow: 0 1px 2px rgba(213, 137, 2, 0.004);
    border-radius: 2px;
    background-image: -moz-linear-gradient( 95deg, rgb(247,151,0) 0%, rgb(251,188,34) 48%, rgb(255,225,67) 99%);
    background-image: -webkit-linear-gradient( 95deg, rgb(247,151,0) 0%, rgb(251,188,34) 48%, rgb(255,225,67) 99%);
    background-image: -ms-linear-gradient( 95deg, rgb(247,151,0) 0%, rgb(251,188,34) 48%, rgb(255,225,67) 99%);
    -moz-box-shadow: 0 3px 8px 0 rgba(231, 140, 7, 0.4);
    -webkit-box-shadow: 0 3px 8px 0 rgba(231, 140, 7, 0.4);
    box-shadow: 0 3px 8px 0 rgba(231, 140, 7, 0.4);
    width: 131px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    margin: 15px auto 0;
}


.loadBar{
    height: 26px;
    width: 110px;
    margin: 40px auto 100px;
}
.loadBar>*{
    float: left;
}
.loadBar>img{
    height: 26px;
    margin-right: 5px;
}
.loadBar>span{
    font-size: 14px;
    color: rgb(68, 68, 68);
    line-height: 26px;
}

















/*footer*/
.footer{
    width: 100%;
    height: 493px;
    background-color: #2d3237;
}