*{
    margin: 0;
    padding:0;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: "PingFangSC";
}
.mobile{
    width: 100%;
    height: auto;
}

img,h2,span,h3,h4{
    display: block;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a{
    text-decoration: none;
    display: block;
    color: black;
}


/*超值套餐和精选单品部分标题*/
.mobile_title{
    margin: 0.9rem auto 0.45rem;
    font-size: 0.4rem;
    width: 5.14rem;
}
/*发布需求和活动说明的标题*/
.mobile_txt_title{
    text-align: center;
    color: #fff;
    font-size: 0.36rem;
    margin-top: 1rem;
}


/*header*/
.mobile_header{
    height: 9.47rem;
    width: 100%;
    background-image: url("../img/1bj.png");
    background-size: 100%;
    background-position: top center;
    overflow: hidden;
}
.mobile_header_title{
    width: 6.3rem;
    height: 1.8rem;
    margin: 5.12rem auto 0.53rem;
    position: relative;
}

.mobile_header_title>img{
    float: left;
    height: 1.8rem;
    position: absolute;
    right: -0.2rem;
    top: 0.25rem;
}

/*超值套餐系列*/
.mobile_over{
    width: 100%;
    height: 10.54rem;
    background-color: #460093;
    overflow: hidden;
}
.mobile_over_content{
    width: 6.9rem;
    height: 3.3rem;
    margin: 0 auto 0.4rem;
    -moz-box-shadow: 0 0 10px 0 rgba(46, 0, 97, 0.32);
    -webkit-box-shadow: 0 0 10px 0 rgba(46, 0, 97, 0.32);
    box-shadow: 0 0 10px 0 rgba(46, 0, 97, 0.32);
}
.mobile_over_content>div{
    float: left;
    height: 3.3rem;
}
.mobile_over_left{
    width: 3.9rem;
    background-image: url("../img/2blue1.png");
    background-size: cover;
}
.mobile_over_left>*{
    width: 3.5rem;
    margin: 0 auto;
}
.mobile_over_title{
    font-size: 0.4rem;
    color: #fff;
    margin-top: 0.25rem;
    white-space: nowrap;
}
.mobile_over_desc{
    font-size: 0.24rem;
    color:#fff;
    margin-top: 0.1rem;
    white-space: nowrap;
}
.mobile_over_orig{
    font-size: 0.24rem;
    color: #ffe109;
    text-decoration: line-through;
    margin-top: 0.3rem;
}
.mobile_over_now{
    font-size: 0.4rem;
    color: #ffe109;
    white-space: nowrap;
}
.mobile_over_buy{
    height: 0.6rem;
    background-color: #bf9f22;
    text-align: center;
    line-height: 0.6rem;
    font-size: 0.24rem;
    font-weight: bold;
    color: #fff;
    margin-top: 0.1rem;
}


.mobile_over_right{
    width: 3rem;
    position: relative;
    background-color: #fff;
}
.mobile_over_leftTop{
    position: absolute;
    left:0;
    top:0;
    height: 0.32rem;
}
.mobile_over_rightBottom{
    position: absolute;
    right:0;
    bottom:0;
    height: 0.32rem;
}

.mobile_over_txt{
    width: 2.4rem;
    height: 0.75rem;
    border-radius: 0.25rem;
    background-color: rgb(157, 206, 250);
    font-size: 0.36rem;
    font-weight: bold;
    margin: 0 auto;
    text-align: center;
    line-height: 0.75rem;
}
.mobile_over_txt:nth-of-type(1){
    margin-top: 0.45rem;
}
.mobile_over_txt{
    margin-top: 0.1rem;
}
.mobile_over_right .mobile_office{
    margin-top: 0.85rem;
}
.mobile_over_right .mobile_office:nth-of-type(2){
    margin-top: 0.19rem;
}
/*精选单品系列*/
.mobile_single{
    width: 100%;
    height: auto;
    padding-bottom: 0.9rem;
    background-color: #1d64c1;
    overflow: hidden;
}
.mobile_menu{
    width: 6.1rem;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
}
.mobile_menu>li{
    float: left;
    /*display: block;*/
    width: 2.9rem;
    height: 4.3rem;
    background-color: #fff;
    list-style: none;
    margin-bottom: 0.3rem;
}
.mobile_menu>li:nth-child(2n+1){
    margin-right: 0.3rem;
}
.mobile_menu_pic>img{
    width: auto;
    height: 1.8rem;
}
.mobile_menu_title,.mobile_menu_desc,.mobile_menu_orig,.mobile_menu_now,.mobile_menu_buy{
    width: 2.5rem;
    margin: 0.1rem auto 0;
}
.mobile_menu_title{
    font-size: 0.24rem;
}
.mobile_menu_desc{
    font-size: 0.18rem;
    color: #999;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.mobile_menu_orig{
    font-size: 0.18rem;
    color: #bf9f22;
    text-decoration: line-through;
}
.mobile_menu_now{
    font-size: 0.24rem;
    color: #bf9f22;
}
.mobile_menu_buy{
    font-size: 0.24rem;
    height: 0.6rem;
    line-height: 0.6rem;
    text-align: center;
    color: #fff;
    background-color: #bf9f22;
}

.mobile_single_more{
    width: 2.83rem;
    height: 1.53rem;
    background-image: url("../img/3morenormal.png");
    background-size: contain;
    margin: 0.4rem auto 0;
    line-height: 2.1rem;
    text-indent: 1em;
    color:#fff;
    font-size: 0.2rem;
    font-weight: bold;
}

/*发布需求*/
.mobile_need{
    height: 6.9rem;
    width: 100%;
    background-color: #460093;
    overflow: hidden;
}
.mobile_need_content{
    width: 6.9rem;
    height: auto;
    color:#fff;
    line-height: 0.4rem;
    margin: 0.45rem auto 0;
    font-size: 0.24rem;
}
.mobile_need_pic{
    width: 6.9rem;
    margin: 0.4rem auto;
}
/*活动时间及活动说明*/
.mobile_intro{
    width: 100%;
    height: 5.6rem;
    background-color: #0c4b9f;
    overflow: hidden;
}
.mobile_intro_content{
    width: 6.9rem;
    margin: 0.5rem auto;
}
.mobile_intro_content>li{
    list-style: none;
    height: 0.5rem;
    line-height: 0.5rem;
}
.mobile_intro_left,.mobile_intro_right{
    float: left;
    height: 0.5rem;
    font-size: 0.24rem;
    color: #fff;
    white-space: nowrap;
}
.mobile_intro_left{
    width:1.3rem;
}
.mobile_intro_right{
    width: 4.8rem;
}
.mobile_intro_right>b{
    width: 0.4rem;
    text-align: center;
    display: block;
    float: left;
    background-image: url("../img/5num.png");
    background-size: 0.4rem auto;
    background-repeat: no-repeat;
    background-position: center center;
    color: #1d64c1;
    margin-right: 0.1rem;
}
/*footer*/
.mobile_footer{
    width: 100%;
    height: 0.9rem;
}
.mobile_footer>a{
    width: 50%;
    height: 100%;
    float: left;
}
.mobile_footer_left{
    background-color: #8519fa;
}
.mobile_footer_right{
    background-color: #aa8d1a;
}
.mobile_footer_left>img{
    margin: 0.14rem auto;
    width: 2.17rem;
}
.mobile_footer_right>img{
    margin: 0.14rem auto;
    width: 1.9rem;
}

/*遮罩层判断活动是否开始*/
.mobile_mask{
    position: fixed;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    z-index: 1111;
    -moz-transition: opacity .7s;
    -webkit-transition: opacity .7s;
    transition: opacity .7s;
    display: none;
}

.mobile_yet,.mobile_past,.mobile_redirect{
    position: absolute;
    left: 0;
    right: 0;
    top:-6.53rem;
    margin: auto;
    width: 6.05rem;
    -moz-transition: top .7s;
    -webkit-transition: top .7s;
    transition: top .7s;
}
.mobile_redirect{
    background-image: url("../img/0putout.png");
    background-size: cover;
    background-position: top center;
    height: 6.53rem;
    text-align: center;
}
.mobile_redirect>h3{
    font-size: 0.32rem;
    margin-top: 5rem;
}
.mobile_redirect>span{
    font-size: 0.28rem;
    color: #808080;
    margin-top: 0.2rem;
}
