*{
    margin: 0;
    padding:0;
}
html,body{
    width: 100%;
    height: 100%;
    min-width: 1200px;
    font-family: "PingFangSC";
}
.pc{
    width: 100%;
    height: auto;
}

img,h2,span,h3,h4{
    display: block;
    border: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
a{
    text-decoration: none;
    display: block;
    color: black;
}


/*超值套餐和精选单品部分标题*/
.pc_title{
    margin: 110px auto 0;
    width: 540px;
}



/*header*/
.pc_header{
    width: 100%;
    height: 975px;
    background-image: url("../img/1bj.png");
    background-size: cover;
    background-position: center center;
    overflow: hidden;/*防止高度塌陷以及margin出现上方白边*/
}
.pc_header_title{
    width: 600px;
    height: 160px;
    margin: 470px auto 0;
}
.pc_header_title>*{
    float: left;
}


.pc_header_title>h2{
    margin-top: 110px;
    color: white;
    text-shadow: 1.816px 3.564px 4px rgba(9, 9, 9, 0.23);
    font-size: 36px;
}
.pc_header_title>img{
    height: 155px;
    width: auto;
    margin-left: 10px;
}

.pc_header_txt:nth-of-type(1){
    margin-top: 35px;
}
.pc_header_txt{
    text-align: center;
    font-size: 18px;
    font-family: "Microsoft YaHei";
    color: rgb(255, 255, 255);
    text-shadow: 0.908px 1.782px 2px rgba(2, 83, 44, 0.28);
    line-height: 34px;
}


/*超值套餐系列*/
.pc_over{
    width: 100%;
    height: 1170px;
    background-color: #02773e;
    background-image: url("../img/2bj.png");
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}

.pc_over_content{
    width: 1200px;
    height: 367px;
    box-shadow: 0 0 10px 0 rgba(46, 1, 95, 0.32);
}
.pc_over_content:nth-of-type(1){
    margin: 50px auto 0;
}
.pc_over_content:nth-of-type(2){
    margin: 60px auto 0;
}
.pc_over_left{
    float: left;
    width: 440px;
    height: 367px;
    background-color: #2770d0;
    background-image: url("../img/2blue1.png");
    background-size: contain;
    background-position: center center;
}
.pc_over_left>*{
    width: 364px;
    margin: 0 auto;
}

.pc_over_title{
    font-size: 40px;
    color: #fff;
    margin-top: 35px;
}
.pc_over_desc{
    color: #fff;
    font-size: 24px;
    margin-top: 20px;
}
.pc_over_orig{
    font-size: 18px;
    font-family: "PingFangSC";
    color: rgb(255, 225, 9);
    margin-top: 40px;
    text-decoration: line-through;
}
.pc_over_now{
    margin-top: 10px;
    font-size: 24px;
    color: rgb(255, 225, 9);
}
.pc_over_buy{
    margin-top: 40px;
    height: 62px;
    background-color: #bf9f22;
    text-align: center;
    line-height: 62px;
    font-size: 24px;
    color: white;
}
.pc_over_buy:hover{
    background-color: #dbb919;
}

.pc_over_right{
    width: 760px;
    height: 367px;
    position: relative;
    background-color: #fff;
    float: left;
}
.pc_over_right>*{
    position: absolute;
}
.pc_over_leftTop{
    left: 0;
    top:0;
    height: 36px;
}
.pc_over_center{
    width: 494px;
    height: 235px;
    left: 0;
    right:0;
    margin: auto;
    top:70px;
}
.pc_over_list{
    float: left;
    list-style: none;
    height: 100%;
    width: 33.3%;
}
.pc_over_list>img{
    margin: 0 auto;
}
.pc_over_list:nth-of-type(2)>img{
    margin: 40px auto 0;
}
.pc_over_list>h3{
    text-align: center;
    font-size: 36px;
    color: rgb(68, 68, 68);
    line-height: 0.944;
    margin-top: 21px;
    white-space:nowrap;
}
.pc_over_list>span{
    font-size: 23px;
    font-family: "PingFangSC";
    color: rgb(153, 153, 153);
    line-height: 1.417;
    text-align: center;
    margin-top: 11px;
}

.pc_over_rightBottom{
    right: 0;
    bottom: 0;
    height: 36px;
}

/*精选单品系列*/
.pc_single{
    width: 100%;
    height: 2366px;
    background-color: #1d64c1;
    background-image: url("../img/3bj.png");
    background-size: cover;
    background-position: center center;
    overflow: hidden;
}
.pc_menu{
    width: 1200px;
    margin: 52px auto 0;
    height: auto;
    overflow: hidden;
}
.pc_menu>li{
    display: block;
    width: 290px;
    height: 430px;
    float: left;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 12px;
    margin-right: 13px;
}
.pc_menu>li:nth-child(4n){
    margin-right: 0;
}
.pc_menu_pic{
    height: 180px;
    overflow: hidden;
    width: auto;
}
.pc_menu_pic>img{
    transition: all .7s;
}
.pc_menu_pic>img:hover{
    transform: scale(1.2);
}
.pc_menu_title,.pc_menu_desc,.pc_menu_orig,.pc_menu_now,.pc_menu_buy{
    width: 250px;
    margin: 0 auto;
}
.pc_menu_title{
    font-size: 24px;
    margin-top: 20px;
}
.pc_menu_desc{
    margin-top: 5px;
    font-size: 18px;
    color: rgb(153, 153, 153);
    white-space: nowrap;
}
.pc_menu_orig{
    margin-top: 15px;
    font-size: 18px;
    color:rgb(191, 159, 34);
    text-decoration: line-through;
}
.pc_menu_now{
    font-size: 24px;
    margin-top: 5px;
    color: rgb(191, 159, 34);
}
.pc_menu_buy{
    height: 60px;
    margin-top: 20px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    background-color:#bf9f22;
    font-size: 24px;
}
.pc_menu_buy:hover{
    background-color: #dbb919;
}


.pc_single_more{
    width: 283px;
    height: 153px;
    background-image: url("../img/2morenormal.png");
    background-size: contain;
    margin: 90px auto 0;
    line-height: 210px;
    letter-spacing: 2px;
    text-indent: 2em;
    color:#fff;
    font-size: 20px;
    font-weight: bold;
}
.pc_single_more:hover{
    background-image: url("../img/2moreover.png");
}




/*发布需求*/
.pc_need{
    height: 752px;
    width: 100%;
    background-color: #02773e;
    overflow: hidden;
}
.pc_need_title{
    margin-top: 120px;
    color: #fff;
    font-size: 40px;
    text-align: center;
}
.pc_need_txt{
    color: #fff;
    margin: 45px auto 50px;
    width: 1200px;
    font-size: 24px;
    line-height: 40px;
}
.pc_need_pic{
    margin: 0 auto;
}



/*活动时间及活动说明*/
.pc_intro{
    width: 100%;
    height: 575px;
    background-color: #1d64c1;
    overflow: hidden;
}
.pc_intro_title{
    margin-top: 115px;
    color:#fff;
    text-align: center;
    font-size: 40px;
}
.pc_intro_content{
    width: 610px;
    margin: 75px auto 0;
}
.pc_intro_content>li{
    list-style: none;
    height: 50px;
    line-height: 50px;
}
.pc_intro_left,.pc_intro_right{
    float: left;
    height: 50px;
    font-size: 24px;
    color: #fff;
    white-space: nowrap;
}
.pc_intro_left{
    width: 130px;
}
.pc_intro_right{
    width: 480px;
}
.pc_intro_right>b{
    width: 40px;
    text-align: center;
    display: block;
    float: left;
    background-image: url("../img/num.png");
    background-size: 40px auto;
    background-repeat: no-repeat;
    background-position: center center;
    color: #1d64c1;
    margin-right: 10px;
}
.pc_footer{
    width: 100%;
    height: 80px;
}
.pc_footer>a{
    width: 50%;
    height: 80px;
    float: left;
}
.pc_footer_left{
    background-color: #316207;
}
.pc_footer_left:hover{
    background-color: #376e00;
}
.pc_footer_left>img{
    float: right;
    margin-top: 24px;
    margin-right: 100px;
}




.pc_footer_right{
    background-color: #aa8d1a;
}
.pc_footer_right:hover{
    background-color: #dcba00;
}
.pc_footer_right>img{
    float: left;
    margin-top: 24px;
    margin-left: 100px;
}


/*悬浮窗*/
.pc_win{
    width: 118px;
    height: 463px;
    position: fixed;
    right: 150px;
    top:100px;
}
.pc_win>*,.pc_win_midLine{
    left: 0;
    right:0;
    margin: auto;
    position: absolute;
}
.pc_win_bee{
    top:0;
    z-index: 109;
}
.pc_win_hand{
    top:0;
    z-index: 111;
}
.pc_win_list{
    top:110px;
    z-index: 110;
}
.pc_win_list>li{
    list-style: none;
    width: 118px;
    height: 40px;
    border-radius: 10px;
    background-color: #b79719;
    margin-bottom: 7px;
    border: 1px solid transparent;
    position: relative;
    cursor: pointer;
}
.pc_win_list>li>*{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.pc_win_list>li:hover{
    background-color: #dbb919;
}

.pc_win_detail{
    margin: 7px auto 0;
}
.pc_win_review{
    position: absolute;
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    z-index: 115;
}
.pc_win_line{
    position: absolute;
    z-index: 111;
}
.pc_win_line:nth-of-type(1){
    left: 15px;
    top:35px;
}
.pc_win_line:nth-of-type(3){
    right: 15px;
    top:35px;
}
.pc_win_midLine{
    top:35px;
    z-index: 111;
}
.pc_win_list>li:last-child{
    width: 62px;
    height: 62px;
    border-radius: 31px;
    margin: 0 auto;
}
.pc_win_top{
    color: #fff;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
.pc_win_icon{
    display: block;
    margin: 0 auto;
    height: 20px;
}

.pc_mask{
    position: fixed;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.7);
    transition: opacity .7s;
    display: none;
    z-index: 1111;
}
.pc_yet,.pc_past{
    position: absolute;
    left: 0;
    right:0;
    margin: auto;
    top:-500px;
    transition: top .7s;
}